/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-image: url(../img/sfondo.png);
  width: 500px;
  margin: auto;
}
main, header, footer {
    box-shadow: 8px 8px 26px black;
  }
i{
    padding: 4px 4px;
}
/* HEADER */
header {
  background-image: linear-gradient(to bottom right, #0099bb, #016788);
  justify-content: center;
  padding: 15px 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

h1{
    padding: 25px 0px;
}
ul{
    padding: 20px 0px;
}
/* MAIN */
main {
  background-color: white;
  text-align: left;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.2;
}
/* ELEMENTI NEL MAIN - ARTICLE */
h2{
     font-weight: 700;
     font-size: 2rem;
     padding: 25px 0px;
     line-height: 1.4;
}
i{
    color: #a1a1a1;
}
#author{
    padding: 0px 0px 25px 0px;
    color: #a1a1a1;
}
#purple{
    color: purple;
}
.tagButton{
    background-color: #a1a1a1;
    border-radius: 15%;
}
.list{
    list-style-type: circle;
}
/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
